@charset "utf-8";
/* CSS Document: tier1.css used only for home page template */
/*@import url(../common/inc/css/share.css);*/

@var1: 5px;
@var6: #FFFFFF;
@var3: 1px red solid;

@media screen {
	p.test {font-family:verdana,sans-serif;font-size:14px;@var2: #FFFFFF;}
	p.set {font-family:verdana,sans-serif;font-size:14px;}
}
/*@import url(http://images.apple.com/global/styles/base.css);*/
/*@media print {
	p.test {font-family:times,serif;font-size:10px;}
}
@media screen,print {
	p.test {font-weight:bold;}
}*/


[title~=hello] { color:blue; }

body {
	text-align: center;
	font: 12px arial, helvetica;
	padding: @var1;
}

body div {
	border: @var3;
}

/*
* Links
*/
a {
	color: #fff;
}

a, 
a:link, 
a:visited {
	color: #fff;
}

a:hover {
	text-decoration: none;
}

.something { border: 1px solid #fff; }

body#tier-1 .wrapper #main.large {background-color: red;}